---
// Components
import PostCard from "../../components/PostCard.astro"
import Layout from "../../layouts/Layout.astro"

// Utils import
import { formatBlogPosts } from "../../scripts/utils"

const allPosts = await Astro.glob('./*.md')
const formattedPosts = formatBlogPosts(allPosts)
---

<Layout title="My Blog">
	<section class="container" aria-label="New blog posts">
		<h1 class="title capital">new blog posts</h1>
		<div class="post-container">
			{
				formattedPosts.map((post)=> (
					<PostCard 
						frontmatter={post.frontmatter} 
						url={post.url}
						tagType="h2"
					/>
				))
			}
		</div>
	</section>
</Layout>
