/*----- Global -----*/
/*----- Fonts & Icons -----*/
@import url("https://fonts.googleapis.com/css2?family=Kurale&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  list-style: none;
}
*::selection {
  background-color: #151515;
  color: #fdfdfd;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fdfdfd;
}

main {
  min-height: 75vh;
}

nav ul, nav ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  text-transform: capitalize;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  margin-bottom: 0.75rem;
  font-size: 1.1rem;
  text-wrap: pretty;
  color: #202020;
}

img,
picture {
  width: 100%;
  max-width: 100%;
  display: block;
}

.container {
  width: 100%;
  max-width: 1250px;
  margin-inline: auto;
  padding: 1rem 1.5rem;
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #202020;
  }
  h1, h2, h3, h4, h5, h6, p {
    color: #f6f6f6;
  }
}
@media all and (max-width: 575px) {
  p {
    font-size: 1rem;
  }
}
/*----- Includes -----*/
/*----- Components -----*/
.text-center {
  text-align: center;
}

.capital {
  text-transform: capitalize;
}

.caps {
  text-transform: uppercase;
}

.over-x {
  overflow-x: hidden;
}

.over-y {
  overflow-y: hidden;
}

.over-hidden {
  overflow: hidden;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 2rem;
  background-color: #f6f6f6;
  color: #151515;
  box-shadow: 0.2px 0.5px 0.6px hsla(235, 30%, 62%, 0.25), 1.1px 2.7px 3.3px -0.4px hsla(235, 30%, 62%, 0.25), 2.1px 5px 6.1px -0.7px hsla(235, 30%, 62%, 0.25), 3.5px 8.3px 10.1px -1.1px hsla(235, 30%, 62%, 0.25), 5.6px 13.2px 16.1px -1.4px hsla(235, 30%, 62%, 0.25), 8.7px 20.7px 25.3px -1.8px hsla(235, 30%, 62%, 0.25), 13.3px 31.4px 38.4px -2.1px hsla(235, 30%, 62%, 0.25), 19.6px 46.3px 56.6px -2.5px hsla(235, 30%, 62%, 0.25);
}

@media (prefers-color-scheme: dark) {
  .footer {
    background-color: #060606;
    color: #fdfdfd;
  }
}
[aria-label=Primary] {
  width: 100%;
  padding: 1rem;
  background-color: hsl(235, 30%, 95%);
  box-shadow: 0.5px 0.75px 0.6px hsla(235, 30%, 62%, 0.25), 0.75px 1px 1px -1.2px hsla(235, 30%, 62%, 0.25), 1px 2.25px 2.5px -2.5px hsla(235, 30%, 62%, 0.25);
}
[aria-label=Primary] ul {
  display: flex;
  gap: 0.75rem;
}

.navbar {
  width: 100%;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.logo {
  color: #151515;
}

@media (prefers-color-scheme: dark) {
  [aria-label=Primary] {
    background-color: #060606;
  }
  .logo {
    color: #f6f6f6;
  }
}
@media all and (max-width: 767px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo {
    margin-bottom: 1.25rem;
  }
}
.link {
  width: fit-content;
  display: flex;
  place-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 2px solid transparent;
  text-decoration: none;
  line-height: 1;
}
.link:focus-visible {
  box-shadow: 0 0 0 3px hsl(235, 25%, 97%), 0 0 0 6px transparent;
}
.link * {
  pointer-events: none;
  user-select: none;
}
.link svg {
  height: 1rem;
  width: 1rem;
}
.link:hover {
  opacity: 0.8;
}

.primary {
  background-color: hsl(235, 40%, 5%) !important;
  color: hsl(235, 25%, 97%) !important;
}

.secondary {
  background-color: hsl(235, 55%, 50%) !important;
  color: hsl(235, 25%, 97%) !important;
}

.filled {
  background-color: transparent !important;
  color: hsl(235, 40%, 5%) !important;
}

.bordered {
  border-color: hsl(235, 40%, 5%);
}

[aria-current=page] {
  background-color: hsl(235, 55%, 50%);
}

@media (prefers-color-scheme: dark) {
  .filled {
    color: hsl(235, 25%, 97%) !important;
  }
  .bordered {
    border-color: hsl(235, 25%, 97%) !important;
  }
}
.post-container {
  margin-block: 1.25rem;
  display: grid;
  align-items: start;
  gap: 1.25rem;
}

.post-content {
  display: grid;
  justify-content: center;
  padding: 2rem;
  margin-block: 1rem;
  margin-inline: auto;
  width: 100%;
  max-width: 1500px;
}
.post-content div {
  display: grid;
  gap: 1rem;
}
.post-content .sidebar {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 2rem;
  margin-block-start: 2rem;
}
.post-content .sidebar aside {
  display: grid;
  gap: 1rem;
  padding: 0;
}

.hero-image {
  box-shadow: 0.2px 0.5px 0.6px hsla(235, 30%, 62%, 0.29), 0.6px 1.5px 1.8px -0.8px hsla(235, 30%, 62%, 0.29), 1.6px 3.8px 4.6px -1.7px hsla(235, 30%, 62%, 0.29), 3.9px 9.3px 11.3px -2.5px hsla(235, 30%, 62%, 0.29);
  object-fit: cover;
}

@media all and (min-width: 480px) {
  aside {
    flex: 1 1 40%;
  }
}
@media all and (min-width: 768px) {
  .post-container {
    grid-template-columns: 1fr 1fr;
  }
  .post-content {
    grid-template-columns: 1fr minmax(auto, 220px);
    gap: 2rem;
    align-items: start;
  }
  .sidebar {
    margin: 0;
  }
  aside {
    text-align: left;
    justify-content: start;
    justify-items: start;
  }
  aside .categories {
    justify-content: start;
  }
}
@media all and (min-width: 991px) {
  .post-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .post-content {
    grid-template-columns: 1fr minmax(auto, 300px);
  }
  .hero-image {
    border-radius: 0.5rem;
  }
}
.card {
  display: grid;
  background-color: hsl(235, 30%, 95%);
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.2px 0.5px 0.6px hsla(235, 30%, 62%, 0.25), 0.3px 0.8px 1px -1.2px hsla(235, 30%, 62%, 0.25), 0.8px 1.9px 2.3px -2.5px hsla(235, 30%, 62%, 0.25);
}
.card .badge {
  color: #f6f6f6;
  background-color: #151515;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
.card [aria-hidden=true] {
  margin-inline: -1rem;
  margin-block: 1rem;
}
.card img {
  box-shadow: 0.2px 0.5px 0.6px hsla(235, 30%, 62%, 0.25), 0.3px 0.8px 1px -1.2px hsla(235, 30%, 62%, 0.25), 0.8px 1.9px 2.3px -2.5px hsla(235, 30%, 62%, 0.25);
  object-fit: cover;
}
.card .subtitle a {
  color: #151515;
  transition: 0.3s linear all;
}
.card .subtitle a:hover {
  color: hsl(235, 55%, 50%);
}
.card a {
  text-decoration: none;
}
.card .post-author {
  color: #151515;
  transition: 0.3s linear all;
}
.card .post-author:hover {
  color: hsl(235, 55%, 50%);
}
.card .content {
  display: grid;
  gap: 1rem;
}

@media (prefers-color-scheme: dark) {
  .card {
    background-color: #151515;
  }
  .card .badge {
    color: #151515;
    background-color: #f6f6f6;
  }
  .card .subtitle a {
    color: #f6f6f6;
  }
  .card .post-author {
    color: #f6f6f6;
  }
  .card .content {
    color: #f6f6f6;
  }
}
/*----- Views -----*/
.about {
  display: grid;
  gap: 1.5rem;
  align-items: center;
  justify-items: center;
  margin-block: 2rem;
}
.about img {
  border-radius: 100vmax;
  height: 400px;
  width: min(300px, 100%);
  object-fit: cover;
  object-position: center;
  box-shadow: 0.2px 0.5px 0.6px hsla(235, 30%, 62%, 0.25), 1.1px 2.7px 3.3px -0.4px hsla(235, 30%, 62%, 0.25), 2.1px 5px 6.1px -0.7px hsla(235, 30%, 62%, 0.25), 3.5px 8.3px 10.1px -1.1px hsla(235, 30%, 62%, 0.25), 5.6px 13.2px 16.1px -1.4px hsla(235, 30%, 62%, 0.25), 8.7px 20.7px 25.3px -1.8px hsla(235, 30%, 62%, 0.25), 13.3px 31.4px 38.4px -2.1px hsla(235, 30%, 62%, 0.25), 19.6px 46.3px 56.6px -2.5px hsla(235, 30%, 62%, 0.25);
}

@media all and (min-width: 768px) {
  .about {
    grid-template-columns: 1fr 2fr;
    place-content: center;
  }
  .about img {
    justify-self: end;
  }
}
.error-container {
  min-height: 75vh;
  display: grid;
  place-items: center;
  align-content: center;
  text-align: center;
  gap: 2rem;
}
.error-container .title {
  margin-bottom: 2rem;
}
.error-container p {
  margin-bottom: 0;
}

/*# sourceMappingURL=styles.css.map */
