@use '../includes/colors' as color;
@use '../includes/mixins' as mx;
@use '../includes/variables' as var;
@use '../includes/typography' as font;
@use '../includes/classes';

.card {
  // width: 35%;
  display: grid;
  background-color: color.$fifthColor;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.2px 0.5px 0.6px hsl(235 30% 62% / 0.25),
  0.3px 0.8px 1px -1.2px hsl(235 30% 62% / 0.25),
  0.8px 1.9px 2.3px -2.5px hsl(235 30% 62% / 0.25);

  .badge {
    color: color.$whiteSmoke;
    background-color: color.$black;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
  }
  [aria-hidden="true"] {
    margin-inline: calc(1rem * -1);
    margin-block: 1rem;
  }
  img {
    box-shadow: 0.2px 0.5px 0.6px hsl(235 30% 62% / 0.25),
    0.3px 0.8px 1px -1.2px hsl(235 30% 62% / 0.25),
    0.8px 1.9px 2.3px -2.5px hsl(235 30% 62% / 0.25);
    object-fit: cover;
  }
  .subtitle a {
    color: color.$black;
    transition: var.$trs03;
    &:hover {
      color: color.$secondColor;
    }
  }
  a {
    text-decoration: none;
  }
  .post-author {
    color: color.$black;
    transition: var.$trs03;
    &:hover {
      color: color.$secondColor;
    }
  }
  .content {
    display: grid;
    gap: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  
  .card {
    background-color: color.$black;
    .badge {
      color: color.$black;
      background-color: color.$whiteSmoke;
    }
    .subtitle a {
      color: color.$whiteSmoke;
    }
    .post-author {
      color: color.$whiteSmoke;
    }
    .content {
      color: color.$whiteSmoke;
    }
  }
}