@use './typography' as font;

.text-center {
  text-align: center;
}

.capital {
  text-transform: capitalize;
}

.title {
  font-family: font.$titleFont;
  letter-spacing: 0.25vw;
  font-size: 3.25rem;
}

.subtitle {
  font-family: font.$titleFont;
  font-size: 2.5rem;
  letter-spacing: 0.10vw;
}

.caps {
  text-transform: uppercase;
}

.overflow {
  overflow: hidden;
}

.over-x {
  overflow-x: hidden;
}

.over-y {
  overflow-y: hidden;
}